.App {
  text-align: center;
}

.App-header,
.App-footer {
  background-color: #282c34;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-body {
  color: #777;
  background-color: #d1eeee;
  margin: 0 10vw;
  padding: 5vh;
  height: 50vh;
  font-size: calc(10px + 1vmin);
}

.App-form input {
  margin-left: 10px;
}

.results {
  margin-top: 30px;
}